


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p, h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 28px;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 15rem !important;
    }

    .site-main > .services-area .services{
        width: 13rem;
    }

}



/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span,
    .site-main .services-area .services-title h1,
    .site-main .about-area .about-title h1,
    .site-main .project-area .project-title h1{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .brand-area .experience-area .years-area{
        padding-left: 1%;
        width: 49%;
    }

    .site-main .brand-area .experience-area .bg-panel{
        margin-left: 30%;
        width: 80%;   
    }

    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--nunito_sans);
    }

    
    .site-main .project-area .button-group button + button {
        padding-left: 0;
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    .site-main .subscribe-us-area .subscribe form .input-textbox input{
        width: 20rem;
        margin: 5%;
    }
}


@media only screen and (max-width: 500px){
    .site-main .project-area .project-title h1{
        font-size: 27px;
        letter-spacing: 8px;
    }
    .site-main .brand-area .experience-area .years-area .years {
        font-size: 70px;
    }
    .site-main .brand-area .experience-area .years-area h2 > span {
        font-size: 18px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        height: 100%;
    }
    .nav-item {
        height: 25%;
    }
    .navbar-collapse {
        height: calc(100vh - 100px);
    }
    .nav-item:last-child {
        height: 10%;
    }
    .header_area .main-menu .nav-item .nav-link {
        height: 10%;
    }
    .navbar-nav {
    background-color: #fff;
    }
    .site-main .site-banner .site-title h1{
        padding-top: 10%;
    }

    .site-main .about-area .about-image {
    display: none;
    }
}

@media screen and (max-width: 1199px) {
    .site-main .brand-area .experience-area{
        padding: 9rem 3rem;
        clip-path: polygon(90% 85%, 50% 75%, 10% 85%, 10% 30%, 50% 15%, 90% 30%);
    }
}

/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .services-area .container {
        max-width: 100%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }
}

@media screen and (max-width: 1630px) {
    .site-main .about-area {
        padding-top: 10%;
    }
}

@media screen and (max-width: 1100px) {
    .site-main .about-area {
        padding-top: 15%;
    }
}

@media screen and (max-width: 700px) {
    .site-main .about-area {
        padding-top: 20%;
    }
}

@media screen and (max-width: 475px) {
    .site-main .about-area {
        padding-top: 25%;
    }
}