html,
body {
    margin: 0;
    padding: 0;
    color: white;
}

#particles-js {
    background: linear-gradient(120deg, #181818 0%, #29292b 50%, #42494a 100%);
    background-size: cover;
    height: 100vh;
}

#presentation {
    position: absolute;
    top: 20vh;
    left: 10vw;
    width: 80vw;
    text-align: center;
}

#presentation a {
    color: white;
}

#presentation h1 {
    font-size: 1.5em;
}

#presentation #myName {
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
}

#presentation #myName:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

#presentation #myName a:hover {
    text-decoration: underline;
}

#presentation #aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 50%;
    margin: 0 25%;
    height: 60px;
    font-size: 1.5em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: linear-gradient(45deg, #447de7, #297ca3, #297ca3, #447de7);
    background-size: 300% 300%;
    border: none;
    transition: all 200ms ease-in-out;
}

#presentation #aboutMe:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
    animation: gradientBG .5s ease-in-out both;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media screen and (min-width: 425px) {
    #presentation h1 {
        font-size: 1.7em;
    }
    #presentation #aboutMe {
        width: 40%;
        margin: 0 30%;
    }
}

@media screen and (min-width: 1024px) {
    #presentation {
        top: 27vh;
        left: 20vw;
        width: 60vw;
    }
    #presentation h1 {
        font-size: 2em;
    }
    #presentation #aboutMe {
        width: 30%;
        margin: 0 35%;
    }
}