#cv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    a {
        border-radius: 10px;
        background-color: #15478a;
        border: none;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
        height: 20px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
    a span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.3s;
        &::after {
            content: url("../../images/download-cv.png");
            position: absolute;
            opacity: 0;
            top: 0;
        }
    }
    a:hover {
        background: #47a7f5;
        #span {
            padding-right: 25px;
            &::after {
                opacity: 1;
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    #cv {
        a {
            height: 42px;
        }
    }
}