@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import './reset.scss';
@import './presentation.scss';
@import './scroll.scss';
@import './page_number.scss';
@import './competence.scss';


html, body {
    height: 100%;
    font-family: 'Kanit', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
}

section {
    min-height: 100vh;
    position: relative;
}


/* Competence Section */



section#career {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg,rgb(31,34,51) 0%, rgb(35, 65, 172) 100%);
}

section#quality {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgb(31,34,51) 0%, rgb(35, 65, 172) 100%);
}

section#project {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgb(31,34,51) 0%, rgb(35, 65, 172) 100%);
}
