section .page_number {
    display: none;
    position: absolute;
    top: 200px;
    right: 50px;
    font-size: 4em;
    color: #0b0f27b9;
    &:after {
        border-top: 3px solid #FB5B54;
        content: "";
        position: absolute;
        top: 50%;
        left: 110%;
        right: 0;
        bottom: 0;
        width: 40px;
        height: 1px;
    }
}

@media screen and (min-width: 767px) {
    section .page_number {
        display: block;
    }
}